<template>
    <h3>{{apelido}}</h3> 
</template>
<script>
export default {
    name: "ApelidoPersonagem",
    props: {
        apelido: String
    }
}
</script>
<style scoped>
h3{
    margin-left: auto;
    margin-right: auto;
    color: white;
}
</style>