<template>
    <button type="button"><img src="../../assets/more.png" alt="more"></button>
</template>
<style scoped>
img{
    width: 20px;
    height: 20px;
    position: relative;
    margin-top: 0px;
}

button{
    background: transparent;
    padding:0;
    margin:0;
    border:none;
}
</style>
