<template>
  <button type="button" class="btn btn-danger">{{ texto }}</button>
</template>


<script>
export default {
  name: 'Button',
  props: {
    texto: String
  }
}
</script>
<style scoped>
*{
  background: firebrick;
  color: white;
  border-color: brown;
}

*:hover{
  background: firebrick;
  color: white;
  border-color: darkred;
}
</style>

