<template>
    <h5>{{categoria}}</h5> 
</template>
<script>
export default {
    name: "CategoriaPersonagem",
    props: {
        categoria: String
    }
}
</script>
<style scoped>
h5{
    margin-left: auto;
    margin-right: auto;
    color: white;
}
</style>
