<template>
  <div class="form-group">
    <label for="exampleInputEmail1">Email</label>
    <input type="text" v-validate="'required|email'" v-bind:name="nome" v-model="valor" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="usuario@dbccompany.com">
    <div  v-show="errors.has(this.nome)" class="alert alert-danger" role="alert">
      <span>{{errors.first(this.nome)}}</span>
    </div>
  </div>
</template>
<script>
export default {
  name: 'EmailInput',
  props: {
    nome: String
  },
  data: () => {
    return {
      valor: ''
    }
  }
}
</script>
<style scoped>
label{
  font-size: 25px;
  color: red;
  background-color: black;
  border-radius: 15px;
}
</style>

