<template>
   <div id="principal">
    <div id="level">{{jogador.level}}</div>
    <div id="expBar">
        <div width="10px" v-bind:style="{ width: this.experiencia+ '%'}" id="barra" ></div>
    </div>
 </div>
</template>
<script>
export default {
    name: 'ExperienceBar',
    props:{
        jogador: Object,
        experiencia: Number
    },
    created(){
      this.experiencia =  this.jogador.experiencia*10
      if(this.experiencia >= 100){
        this.experiencia = 0
        this.jogador.experiencia = 0
        this.jogador.level++
      }
    }
}
</script>
<style scoped>
#expBar{
  position: absolute;
  margin-top: 12px;
  margin-left: 58px;
  height: 2em;
  width: 280px;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 3px 3px 3px gray;
  background-color:white;
}
#barra {
  text-align: center;
  height: 100%;
  background: firebrick;
  border-radius: 5px;
}
#level {
  position: absolute;
  height: 2em;
  width: 2em;
  background: firebrick;
  display: flex;
  box-shadow: 3px 3px 3px gray;
  align-items: center;
  justify-content: center;
  font-size: 1.8em;
  font-style: bolder;
  border-radius: 8px;
  color: white;
}
</style>
