<template>
    <div class="row">
      <div class="col">
        {{habilidade}}
      </div>
      <div class="col-md-auto">
        15
      </div>
      <div class="col col-lg-2">
        <ButtonMore/>
      </div>
      <div class="col col-lg-2">
        <ButtonLess/>
      </div>
    </div>
</template>
