<template>
    <h1>{{nome}}</h1> 
</template>
<script>
export default {
    name: "NomePersonagem",
    props: {
        nome: String
    }
}
</script>
<style scoped>
h1{
    font-size: 35px !important;
    margin-left: auto;
    margin-right: auto;
    color: red;
}
</style>
