<template>
    <div class="circulo">
      <h5>Skills Points</h5>
      <h4>{{jogador.SkillsPoints}}</h4>
    </div>
</template>
<script>
export default {
    name: 'SkillsPoints',
    props: {
    jogador: Object
  }
}
</script>

<style scoped>
.circulo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: gray;
    box-shadow: 8px 8px 8px white;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Francois One', sans-serif;
}
h5{
    margin-top: 5px;
    font-family: 'Francois One', sans-serif;
}
</style>
