<template>
        <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Habilidade</th>
                <th scope="col">Treinado</th>
                <th scope="col">Quantidade</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(habilidade, index) in jogador.habilidades" v-bind:key="habilidade.nome" v-bind:value="habilidade.valor">
                <td>{{habilidade.nome}}</td>
                <td>{{habilidade.valor}}</td>
                <td><input type="number" min="0" v-bind:max="jogador.SkillsPoints" v-model="quantidade[index]" class="form-control quantidade" id="habilidade.nome"></td>
                <td><Button v-on:click.native="treinar(habilidade, quantidade[index])" texto="Treinar"/></td>
            </tr>
        </tbody>
        </table>
</template>
<script>
import Button from './Button.vue'
import ButtonMore from './ButtonMore.vue'
import ButtonLess from './ButtonLess.vue'

export default {
    name: "TabelaTreinamento",
    components: {
        Button, ButtonMore, ButtonLess
    },
    methods:{
        treinar(habilidade, quantidade){
            if(quantidade<=this.jogador.SkillsPoints){
                habilidade.valor= parseInt(quantidade) + parseInt(habilidade.valor)
                this.jogador.SkillsPoints-=quantidade
            }
        }
    },
    props:{
        jogador: Object
    },
    data: () => {
    return {
      habilidades: '',
      skills: '',
      quantidade: [0,0,0,0,0,0,0,0,0,0]
    }
  },
  created(){
      this.skills = this.jogador.SkillsPoints
  }
}
</script>
<style scoped>
input{
    width: 50px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
}
table{
    margin-top: 10px;
    border-radius: 10px;
}
#menuButton{
    width: 100px; 
}

.circulo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: gray;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

Button:hover{
    background-color:  rgb(88, 16, 16);
    border-color: rgb(88, 16, 16);
}

.quantidade{
    width: 55px;
    margin: 0 auto;
}
</style>

