<template>
    <table class="table table-dark">
        <tbody>
            <tr v-for="habilidade in jogador.habilidades">
                <td>{{habilidade.nome}}</td>
                <td>{{habilidade.valor}}</td>
            </tr>
        </tbody>
    </table>
        
</template>
<script>
import Button from '../shared/Button.vue'
export default {
    name: 'TabelaHabilidades',
    components: {
        Button
    },
    props:{
        jogador: Object
    },
}
</script>
<style scoped>
table{
    margin-top: 10px;
}
</style>


