/* eslint-disable */
<template>
  <div class="container">
    <div v-for="habilidade in habilidades" v-bind:key="habilidade.nome" v-bind:value="habilidade" class="row">
      <div class="col">
        {{habilidade.nome}}
      </div>
      <div class="col-md-auto">
       {{habilidade.valor}}
      </div>
      <div class="col col-lg-2">
        <ButtonMore :disabled="skills==0" v-on:click.native="aumentarAtributo(habilidade)" />
      </div>
      <div class="col col-lg-2">
        <ButtonLess :disabled="habilidade.valor==0" v-on:click.native="diminuirAtributo(habilidade)"/>
      </div>
    </div>
    <div class="circulo">
      <h5>Skills Points</h5>
      <h4>{{skills}}</h4>
    </div>
    <Button style="position:relative;top:20px" v-on:click.native="onSubmitChamaMenu" class="btn btn-primary btn-lg btn-block campos" v-bind:texto="chamaMenu" />
    <!-- v-on:click.native="onSubmitChamaMenu" -->
  </div>
</template>
<script>
import ButtonMore from '../shared/ButtonMore.vue'
import ButtonLess from '../shared/ButtonLess.vue'
import Jogador from '../models/Jogador.js'
import Button from '../shared/Button.vue'
import uvcApi from '../api/uvcApi.js'

export default {
  components: {
    ButtonMore, ButtonLess, Button
  }, props: {
    nome: String,
    apelido: String,
    categoria: String
  },
  data: () => {
    return {  
    chamaMenu: 'Começar',
    skills: 15,
    habilidades: [
      {nome: 'Velocidade', valor: 0},
      {nome: 'Esquiva', valor:0},
      {nome: 'Boxe', valor:0},
      {nome: 'Muaythai', valor:0},
      {nome: 'Wrestling', valor:0},
      {nome: 'Resistencia', valor:0},
      {nome: 'Jiujitsu', valor:0}
    ]}
  },
  methods: {
    aumentarAtributo(atributo){
      atributo.valor+=1
      this.skills-=1
    },

    diminuirAtributo(atributo){
      atributo.valor-=1
      this.skills+=1
    },
    async onSubmitChamaMenu() {
      if (this.skills<1 && this.nome!='' && this.apelido!='' && this.categoria!=''){
        const player = new Jogador(this.nome, this.apelido, this.categoria, this.habilidades) 
        var audio = new Audio('https://www.soundboard.com/handler/DownLoadTrack.ashx?cliptitle=We+are+LIVE&filename=20/201310-9b703b02-91af-4346-bfb0-01429c20419b.mp3')
        audio.play() 
        const api = new uvcApi('http://localhost:3000/fighters') 
        const enemies = await api.listarLutadoresPorCategoria(this.categoria) 
        fetch( 'http://localhost:3000/personagens', { 
          method: 'POST', 
          headers: { 
            'Accept': 'application/json', 
            'Content-Type': 'application/json' 
          }, 
          body: JSON.stringify( {player} )  
        } ) 
        .then( j => j.json() ) 
        .then( p => { 
          player.push( p ) 
        } )

        setTimeout( () => {
          this.$router.push({name: 'MenuPrincipal', params:{player, enemies}})
          }, 500)
      }
    }
  }
}
</script>

<style scoped>
.circulo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: gray;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 8px 8px 8px white;
    font-family: 'Francois One', sans-serif;
}
h5{
    margin-top: 5px;
    font-family: 'Francois One', sans-serif;
}
</style>

