<template>
  <section class="container">
    <h1 id="titleP">Criar lutador</h1>
    <div class="row">
      <div class="col-lg-8">
        <form>
          <div class="form-group row">
            <label for="validationDefault01" class="col-sm-2 col-form-label">Nome </label>
            <div class="col-sm-10">
              <input type="text" v-bind:name="nomeJogador" v-model="nomeJogador" class="form-control campos"  id="validationDefault01" placeholder="ex: Zezinho" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="validationDefault02" class="col-sm-2 col-form-label">Apelido </label>
            <div class="col-sm-10">
              <input type="text" class="form-control campos"  v-bind:apelido="apelidoJogador" v-model="apelidoJogador" id="validationDefault02" placeholder="ex: O Mortal" required>
            </div>
          </div>
          <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="inlineFormCustomSelectPref">Categoria</label>
              <div class="col-sm-10">
              <select class="form-control campos form-control-sm" v-model="categoriaJogador">
                <option v-for="opcao in opcoes" v-bind:key="opcao.id" v-bind:value="opcao.texto">
                  {{ opcao.texto }}
                </option>
                </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="row">
              <div class="col-lg-11">
              <TabelaAprimorarHabilidades :nome="nomeJogador" :apelido="apelidoJogador" :categoria="categoriaJogador" />
              </div>
              <div class="col-1">
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-4">
          <img alt="lutador" style="position:relative;height:80vh;" src="../../assets/lutador.png">
      </div>     
    </div>
  </section>
</template>
<script>
import Jogador from '../models/Jogador.js'
import TabelaHabilidades from '../shared/TabelaHabilidades.vue'
import MenuPrincipal from '../screens/MenuPrincipal.vue'
import Button from '../shared/Button.vue'
import TabelaAprimorarHabilidades from '../shared/TabelaAprimorarHabilidades.vue'
import SkillsPoints from '../shared/SkillsPoints.vue'



export default {
  name: 'CriacaoPersonagem',
  components: {
    Jogador,TabelaHabilidades,TabelaAprimorarHabilidades,MenuPrincipal, Button, SkillsPoints
  },
  props: {
    name, apelido: String 
  },methods:{
  },
  data: () => {
    return {
      nomeJogador:'',
      apelidoJogador:'',
      categoriaJogador:'',
      chamaMenu: 'PRÓXIMO',
      jogador: '',
      opcoes: [
        { id: 1, texto: 'Flyweight' },
        { id: 2, texto: 'Middleweight' },
        { id: 3, texto: 'Heavyweight' },
      ]
    }
  }
}
</script>
<style>
#titleP{
  font-size: 40px;
  font-family: 'Notable', sans-serif;
  margin-bottom: 20px;
}
#menu{
    margin-top: 30vh;
}

.campos{
  width: 400px !important;
}

#centralize{
  text-align: center;
}


body{
  color: white;
}
</style>
