<template>
  <form v-on:submit.prevent="onSubmit">
    <img alt="UVC logo" src="../../assets/logoUVC.png">
    <EmailInput id="login" nome="usuario" ref="usuarioRef" />
    <PasswordInput style="position:relative;top:20px;" id="login" nome="senha" ref="senhaRef"/>
    <Button style="position:relative;top:40px;" v-bind:texto= "textoBotao" type="submit"/>
  </form>
</template>

<script>
import Button from '../shared/Button.vue'
import EmailInput from '../shared/EmailInput.vue'
import PasswordInput from '../shared/PasswordInput.vue'

export default {
  name: 'Login',
  components: {
    Button, EmailInput, PasswordInput
  },
  data: () => {
    return {
      textoBotao: "Entrar"
    }
  },
  methods: {
    onSubmit() {
      const usuario = this.$refs.usuarioRef.valor,
        senha = this.$refs.senhaRef.valor

      const podeLogar = usuario === 'admin@dbccompany.com.br' && senha === 'admin'
      if (podeLogar) {
        this.textoBotao = "Aguarde..."
        setTimeout( () => {
        this.$router.push({name: 'CriacaoPersonagem'})
        }, 500)
      }
    }
  }
}
</script>

<style scoped>
#login{
  width: 30vw;
  margin: 0 auto;
}
</style>



