<template>
    <div class="container">
    <div>
        <h1 id="title">IIIIIIIIIIt's......tiiiiime!!!</h1>
        <img src="../../assets/gif4.gif" atl="">
    </div>
    <Button texto="Resultado" v-on:click.native="verificarResultado"/>
    </div>
</template>
<script>
import Button from '../shared/Button.vue'
export default {
    name: 'Luta',
    data: () => {
        return {
            jogador: Object,
            lutador: Object,
            lutadores: Array
        }
    },
    components:{
        Button
    },
    methods:{
        verificarResultado(){
            const player = this.jogador
            const enemies = this.lutadores
            var contador = 0 
            for (let index = 0; index < this.jogador.habilidades.length; index++) {
                if(this.jogador.habilidades[index].valor>=this.lutador.habilidades[index].valor){
                    contador++
                }  
            }
            const resultado = contador >=4 ? 'ganhou' : 'perdeu'
            setTimeout( () => {
            this.$router.push({name: 'ResultadoLuta', params: {player, enemies, resultado}})
        }, 500)
        }
    },
    created(){
      this.jogador = this.$route.params.player
      this.lutadores = this.$route.params.enemies
      this.lutador = this.$route.params.enemy
    }  
}
</script>
<style scoped>
    Button{
        margin-top: 50px;
    }
    #title{
    font-size: 50px;
    font-family: 'Notable', sans-serif;
    margin-bottom: 50px;
    color: firebrick;
    }   
</style>


