<template>
<div class="container">
  <div class="row">
    <div class="col-sm" id="colum">
      <ExperienceBar v-bind:jogador="jogador"/>
      <img id="lutador" src="../../assets/lutador.png" alt="">
    </div>
    <div class="col-sm" id="colum">
        <img id="logo" src="../../assets/logoUVC.png" alt="">
        <div id="menu">
        <div class="row"><Button texto="Ir para evento" v-on:click.native="onSubmitIrParaEvento"/></div>
        <div class="row"><Button texto="Treinar" v-on:click.native="treinar"/></div>
        </div>
    </div>
    <div class="col-sm" id="colum">
      <div class="row"><NomePersonagem v-bind:nome="jogador.nome"/></div>
      <div class="row"><ApelidoPersonagem v-bind:apelido="jogador.apelido"/></div>
      <div class="row"><CategoriaPersonagem v-bind:categoria="jogador.categoria"/></div>
      <TabelaHabilidades v-bind:jogador="jogador"/>
      <div class="row"><SkillsPoints v-bind:jogador="jogador"/></div>
    </div>
  </div>
</div>
    
</template>

<script>
import NomePersonagem from '../shared/NomePersonagem.vue'
import ExperienceBar from '../shared/ExperienceBar.vue'
import Button from '../shared/Button.vue'
import TabelaHabilidades from '../shared/TabelaHabilidades.vue'
import ApelidoPersonagem from '../shared/ApelidoPersonagem.vue'
import CategoriaPersonagem from '../shared/CategoriaPersonagem.vue'
import SkillsPoints from '../shared/SkillsPoints.vue'

export default {
    name: 'MenuPrincipal',
    components: {
        ExperienceBar, Button, TabelaHabilidades, NomePersonagem, ApelidoPersonagem, CategoriaPersonagem, SkillsPoints
    },
    data:() => {
        return {
            jogador: null,
            lutadores: Array
        }  
    },
    methods: {
        onSubmitIrParaEvento(){
            const player = this.jogador
            const enemies = this.lutadores
            setTimeout( () => {
                this.$router.push({name: 'PreLuta', params: {player, enemies}})
                }, 500)
        },
        treinar(){
            const player = this.jogador
            const enemies = this.lutadores
            setTimeout( () => {
                this.$router.push({name: 'Treinamento',params: {player, enemies}})
                }, 500)
        },
    },
        created(){
            this.jogador = this.$route.params.player
            this.lutadores = this.$route.params.enemies
        }
    }
</script>
<style scoped>
Button{
    width: 100%;
    height: 50px;
    background-color: rgb(88, 16, 16);
}
#lutador{
    margin-top: 55px;
}
#logo{
    width: 350px;
    height: 200px;
    margin-top: 0px;
}
#menu{
    margin-top: 0px;
}
</style>
