<template>
<div class="container">
  <h1 id="title">Ultimate Vuedora Championship</h1>
  <div class="row" id="estatisticas">
    <div class="col-sm" id="colum">
      <img id="lutador" src="../../assets/lutador.png" alt="">
    </div>
    <div class="col-sm" id="colum">
      <div class="row"><NomePersonagem v-bind:nome="jogador.nome"/></div>
      <div class="row"><ApelidoPersonagem v-bind:apelido="jogador.apelido"/></div>
      <div class="row"><CategoriaPersonagem v-bind:categoria="jogador.categoria"/></div>
      <div class="row"><TabelaHabilidades v-bind:jogador="jogador"/></div>  
    </div>
    <div class="col-sm" id="colum">
      <Button texto="Menu" id="btnMenu" v-on:click.native="onSubmitChamaMenu"/>  
      <h1 id="versus">X</h1>    
      <Button texto="Lutar" id="btnLutar" v-on:click.native="onSubmitLutar"/>  
    </div>
    <div class="col-sm" id="colum">
      <div class="row"><NomePersonagem id="nomeLutador" v-bind:nome="lutador.nome"/></div>
      <div class="row"><ApelidoPersonagem v-bind:apelido="lutador.apelido"/></div>
      <div class="row"><CategoriaPersonagem v-bind:categoria="lutador.categoria"/></div>  
      <div class="row"><TabelaHabilidades v-bind:jogador="lutador"/></div>  
    </div>
     <div class="col-sm" id="colum">
         <img v-bind:id="lutador.nome" v-bind:src="lutador.imagem" alt="">
    </div>
  </div>
</div>
</template>
<script>
import NomePersonagem from '../shared/NomePersonagem.vue'
import TabelaHabilidades from '../shared/TabelaHabilidades.vue'
import Button from '../shared/Button.vue'
import ApelidoPersonagem from '../shared/ApelidoPersonagem.vue'
import CategoriaPersonagem from '../shared/CategoriaPersonagem.vue'
export default {
    name: 'PreLuta',
    components: {
        TabelaHabilidades, Button, ApelidoPersonagem, CategoriaPersonagem, NomePersonagem
    },
    data: () => {
        return {
            jogador: Object,
            lutador: Object,
            lutadores: Array, 
        }
    },
    methods:{
    onSubmitChamaMenu() {
      const player = this.jogador
      const enemies = this.lutadores
      setTimeout( () => {
        this.$router.push({name: 'MenuPrincipal', params: {player, enemies}})
        }, 500)
    },
    onSubmitLutar(event) {
      const player = this.jogador
      const enemies = this.lutadores
      const enemy = this.lutador
      var audio = new Audio('https://www.soundboard.com/handler/DownLoadTrack.ashx?cliptitle=IT%27S+TIME!&filename=20/201310-acff9d4b-a41a-41b0-847f-574697abf072.mp3')
      audio.play() 
      setTimeout( () => {
        this.$router.push({name: 'Luta', params: {player, enemies, enemy }})
        }, 1500)
    }
    },
    created(){
      this.jogador = this.$route.params.player
      this.lutadores = this.$route.params.enemies
      this.lutador = this.lutadores[Math.floor(Math.random() * (15))]
    }
}
</script>
<style scoped>
#estatisticas{
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 40px;
}
#versus{
    font-size: 100px;
    width: 100px;
    text-shadow: 8px 8px 8px white;
    color: red;
    margin-left: auto;
    margin-right: auto;
}
#btnLutar, #btnMenu{
   width: 100px;
}
#btnMenu{
  margin-top: 200px
}
#title{
  font-size: 50px;
  font-family: 'Notable', sans-serif;
  margin-bottom: 10px;
}
#nomeLutador{
  color: greenyellow;
}
</style>

