<template>
<div class="container">
  <h1 id="title">Ultimate Vuedora Championship</h1>
  <h2 v-show="resultado === 'perdeu'" id="perdeuh2">Você {{resultado}}!</h2>
  <h2 v-show="resultado === 'ganhou'" id="ganhouh2">Você {{resultado}}!</h2>
  
  <div class="row">
    <div class="col-sm" id="colum">
      <div id="rewards">
      <h3 v-show="resultado ==='ganhou'">Recompensas:</h3>
      <h4 v-show="resultado ==='ganhou'"> {{sp}} Skills points</h4>
      <h4 v-show="resultado ==='ganhou'"> {{exp}}0% de Experiencia</h4>
      </div>
      
    </div>
    <div class="col-sm" id="colum">
      <img v-show="resultado === 'perdeu'" src="../../assets/loser.gif" id="perdeu" alt="">
      <img v-show="resultado === 'ganhou'" src="../../assets/winner.gif" id="ganhou" alt="">
      <br>
      <Button texto="Menu" id="btnMenu" v-on:click.native="onSubmitChamaMenu"/>  
    </div>
     <div class="col-sm" id="colum">
    </div>
  </div>
</div>
</template>
<script>
import NomePersonagem from '../shared/NomePersonagem.vue'
import TabelaHabilidades from '../shared/TabelaHabilidades.vue'
import Button from '../shared/Button.vue'
import ApelidoPersonagem from '../shared/ApelidoPersonagem.vue'
import CategoriaPersonagem from '../shared/CategoriaPersonagem.vue'
import SkillsPoints from '../shared/SkillsPoints.vue'
export default {
    name: 'ResultadoLuta',
    components: {
        TabelaHabilidades, Button, ApelidoPersonagem, CategoriaPersonagem, NomePersonagem, SkillsPoints
    },
    data: () => {
        return {
            jogador: Object,
            lutador: Object,
            resultado: String,
            sp: Number,
            exp: Number,
        }
    },
    methods:{
    onSubmitChamaMenu() {
      const player = this.jogador
      const enemies = this.lutadores
      setTimeout( () => {
        this.$router.push({name: 'MenuPrincipal', params: {player, enemies}})
        }, 500)
    }
    },
    created(){
            const valorSp = Math.floor(Math.random() * (4-1)+1)
            const valorExp = Math.floor(Math.random() * (3-1)+1)
            this.jogador = this.$route.params.player
            this.lutadores = this.$route.params.enemies
            this.resultado = this.$route.params.resultado
            this.sp = this.resultado === 'ganhou' ? valorSp : 0
            this.exp = this.resultado === 'ganhou' ? valorExp: 0
            this.jogador.SkillsPoints += this.sp
            this.jogador.experiencia += this.exp 
        }
}
</script>

<style scoped>
#rewards{
  margin-top: 50px;
  background-color: rgb(238, 234, 234, 0.8);
  border-radius: 20px;
  color: brown;
}
#perdeuh2{
  font-size: 50px;
  color: greenyellow;
  font-family: 'Notable', sans-serif;
}
#ganhouh2{
  font-size: 50px;
  color: firebrick;
  font-family: 'Notable', sans-serif;
}
#btnMenu{
  margin-top: 80px;
  width: 100px;
}
#perdeu, #ganhou{
  border-radius: 20px;
  width: 250px;
  height: 200px;
}
#title{
  font-size: 50px;
  font-family: 'Notable', sans-serif;
  margin-bottom: 10px;
}
</style>

