<template>
<div class="container">
  <h1 id="title">Centro de treinamento</h1>
  <div class="row">
    <div class="col-sm-2" id="colum">
      <img src="../../assets/lutador.png" alt="">
    </div>
    <div class="col-sm-8" id="colum">
        <TabelaTreinamento v-bind:jogador="jogador"/>
    </div>
    <div class="col-sm-2" id="colum">
        <SkillsPoints v-bind:jogador="jogador" id="points"/>
    </div>
    </div>
   <Button texto="Menu" id="menuButton" v-on:click.native="onSubmitChamaMenu"/>
</div>
</template>
<script>
import Button from '../shared/Button.vue'
import SkillsPoints from "../shared/SkillsPoints.vue"
import TabelaTreinamento from "../shared/TabelaTreinamento.vue"
export default {
    name: 'Treinamento',
    components: {
        TabelaTreinamento, SkillsPoints, Button
    },
    data:() => {
        return {
            jogador: Object,
            lutadores: Array
        }  
    },
    methods:{
      onSubmitChamaMenu() {
      const player = this.jogador
      const enemies = this.lutadores
      setTimeout( () => {
        this.$router.push({name: 'MenuPrincipal', params: {player, enemies}})
        }, 500)
      }
    },
    created(){
      this.lutadores = this.$route.params.enemies
      this.jogador = this.$route.params.player
    }
}
</script>
<style scoped>
Button{
  margin-top: 0px;
  width: 100px;
}

#points{
  margin-top: 220px;
  background-color: firebrick !important;
}
#title{
  font-size: 50px;
  font-family: 'Notable', sans-serif;
  margin-bottom: 10px;
}
</style>

