<template>
  <div id="app">
    <transition name="fade">
    <router-view></router-view>
    </transition>
  </div>
</template>

<script>
import Login from './components/screens/Login.vue'

export default {
  name: 'app',
  components: {
    Login
  }
}
</script>

<style>
body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #AAAA;
  margin-top: 60px;
  background-image: url("./assets/ufcarena.jpg") !important;
  background-attachment: fixed;
  background-size: cover;
}

.fade-leave-active {
  transition: opacity .0s;
}

.fade-enter-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active em versões anteriores a 2.1.8 */ {
  opacity: 0;
}
</style>
